CompileFlags:
  Compiler: /home/s1dd/dev/emwebsiten/emsdk/upstream/emscripten/em++
  Add: [
    "--target=wasm32-unknown-emscripten",
    "--sysroot=/home/s1dd/dev/emwebsiten/emsdk/upstream/emscripten/cache/sysroot",
    "-std=c++23",
    "-DEMSCRIPTEN"
  ]
  CompilationDatabase: build
